@import "../styles/variables.scss";

$nike: rgb(224, 237, 94);
$light: rgb(204, 204, 204);
$dark: rgb(26, 26, 26);

.body {
  background-color: $dark;
  color: $nike;
  a,
  p,
  h1,
  h4,
  li {
    color: $nike;
  }
}

.hr {
  size: 1;
  color: $nike;
  background-color: $nike;
  border: $nike;
  border-color: $nike;
  border-style: dotted;
  width: inherit;
}

.runTable {
  width: 100%;
  min-width: 700px;

  margin: 2rem 0 5rem 0;

  thead {
    color: $light;
    text-align: right;

    th {
      padding: 0.5rem;
    }
  }
}

.runRow {
  td {
    padding: 0.5rem;
    border: 0;
    text-align: right;

    &:first-child {
      text-align: left;
    }
  }

  &:hover {
    background-color: lighten($dark, 3%);
  }
}

.tableContainer {
  width: 100%;
  overflow-x: scroll;
}

.runDate {
  color: $light;
}
